* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */
.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  margin-bottom: 20px;
  padding: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 2px black;
  color: #ffffff;
  background-color: #787878;
}

.my-work-experience-company-block-3 {
  margin: 15px 100px 0 0;
}

.my-work-experience-company-block-2 {
  margin-bottom: 20px;
  width: 525px;
}

/* About me section */
.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 55px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0 0 25px 0;
}

.about-me-description {
  padding-left: 17px;
  width: 500px;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #595959;
}

/* My pojects section  */
.my-pojects-section {
  margin: 0 0 50px 0;
}

.my-pojects-list {
  padding: 0 0 0 17px;
  list-style: none;
}

.my-pojects-item {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #595959;
}

.my-pojects-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: underline;
  /* color: #595959; */
  color: #2b67cd;
}

.my-pojects-text {
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #595959;
}

/* My work experience */
.my-work-experience-position {
  padding-left: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-work-experience-period {
  padding-left: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #808080;
  margin: 0 0 15px 0;
}

.my-work-experience-duties {
  margin-top: 0;
  padding: 0 0 0 33px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #595959;
}

/* My education section */
.my-education-section {
  margin: 45px 0 0 0;
}

.my-education-title {
  margin: 0 0 20px 0;
  padding: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 2px black;
  color: #ffffff;
  background-color: #787878;
}

.my-education-university {
  padding-left: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0 0 8px 0;
}

.my-education-university-specialty {
  width: 500px;
  padding-left: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0 0 8px 0;
}

/* sidebar-section */
.sidebar-section {
  background-color: #1e2939;
  width: 420px;
  padding: 60px 45px;
}

.sidebar-wrap-image {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 300ms ease-in-out;
}

.sidebar-image:hover {
  transform: scale(1.2);
}

.contacts-section,
.tech-skills-section {
  margin-top: 50px;
}

.sidebar-title {
  margin-bottom: 10px;
  padding: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #787878;
  text-shadow: 1px 1px 2px black;
}

.contacts-wrap {
  padding-left: 17px;
}

/* contacts section */
.contacts-section-type {
  margin-right: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.contacts-section-link-phone,
.contacts-section-link-mail {
  color: #92959a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts-section-link-github,
.contacts-section-link-linkedin {
  color: #2b67cd;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contacts-section-link-phone:hover,
.contacts-section-link-mail:hover {
  text-decoration: underline;
}

/* Tech skills section */
.tech-skills-list {
  padding-left: 30px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fff;
}

/* Soft skills section */
.soft-skills-section,
.language-skills-section {
  margin-top: 50px;
}

.soft-skills-list,
.language-skills-list {
  padding-left: 30px;
  margin-bottom: 0;
}

.soft-skills-item,
.language-skills-item {
  color: #fb6d3a;
}

.soft-skills-item-text,
.language-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fff;
}
